/* ==========================================================================
   #BOX
   ========================================================================== */

/**
 * The box object simply boxes off content. Extend with cosmetic styles in the
 * Components layer.
 *
 * 1. So we can apply the `.o-box` class to naturally-inline elements.
 */

.o-box {
  @include inuit-clearfix();
  display: block;
  padding: $base-spacing;

  /* Size variants
     ****************************************************************************/

  &--zero {
    padding: 0;
  }

  &--xs {
    padding: $base-spacing-xs;
  }

  &--s {
    padding: $base-spacing-s;
  }

  &--m {
    padding: $base-spacing-m;
  }

  &--l {
    padding: $base-spacing-l;
  }

  &--xl {
    padding: $base-spacing-xl;
  }

  &--xxl {
    padding: $base-spacing-xxl;
  }


  /* Reset
     ****************************************************************************/

  &--no-tb {
    padding-top: 0;
    padding-bottom: 0;
  }

  &--no-b {
    padding-bottom: 0;
  }

  &--no-t {
    padding-top: 0;
  }

  &--no-lr {
    padding-right: 0;
    padding-left: 0;
  }
}

