/* ==========================================================================
   #CONTAINER
   ========================================================================== */

/**
 * The container object simply containeres off content. Extend with cosmetic styles in the
 * Components layer.
 *
 * 1. So we can apply the `.o-content` class to naturally-inline elements.
 */

.o-content {
  @include inuit-clearfix();
  display: block;
  padding-top: $base-spacing;
  padding-bottom: $base-spacing;

  /* Size variants
     ****************************************************************************/

  &--zero {
    padding: 0;
  }

  &--xs {
    padding-top: $base-spacing-xs;
    padding-bottom: $base-spacing-xs;
  }

  &--s {
    padding-top: $base-spacing-s;
    padding-bottom: $base-spacing-s;
  }

  &--m {
    padding-top: $base-spacing-m;
    padding-bottom: $base-spacing-m;
  }

  &--l {
    padding-top: $base-spacing-l;
    padding-bottom: $base-spacing-l;
  }

  &--xl {
    padding-top: $base-spacing-xl;
    padding-bottom: $base-spacing-xl;
  }

  &--xxl {
    padding-top: $base-spacing-xxl;
    padding-bottom: $base-spacing-xxl;
  }

  /* Container reset
     ****************************************************************************/

  &--no-t {
    padding-top: 0;
  }

  &--no-b {
    padding-bottom: 0;
  }
}

