//******************************************************************************
//  #A ELEMENT
//******************************************************************************

a {
  color: $color--primary;
  text-transform: none;
}
