/*-------------------------------------------
	#FONT GENERATOR
---------------------------------------------*/

///* Example for use @font-face
//
//	@include font-face([name-font],
//		"[path]",
//		[font-style],
//		[font-weight],
//		[type-font(eot | woff | svg | ttf)]
//	);
//
//*/
//
// @include font-face(Raleway-Regular,
//   $font-path	+ "Raleway/Raleway-Regular",
//   normal,
//   normal,
//   ttf
// );
// 
// @include font-face(Raleway-Bold,
//   $font-path	+ "Raleway/Raleway-Bold",
//   normal,
//   normal,
//   ttf
// );
// 
// @include font-face(Raleway-Light,
//   $font-path	+ "Raleway/Raleway-Light",
//   normal,
//   normal,
//   ttf
// );
// 
// @include font-face(Raleway-Black,
//   $font-path	+ "Raleway/Raleway-Black",
//   normal,
//   normal,
//   ttf
// );
// 
// @include font-face(Monoton-Regular,
//   $font-path	+ "Monoton/Monoton-Regular",
//   normal,
//   normal,
//   ttf
// );

