//******************************************************************************
//  #COLORS VARIABLES
//******************************************************************************

/* stylelint-disable color-no-hex */


$color--white: #FFFFFF;
$color--black: #000000;

$color--grey-10: #111111;
$color--grey-15: #212529;
$color--grey-20: #2C2C2C;
$color--grey-30: #333333;
$color--grey-40: #383A40;
$color--grey-45: #777777;
$color--grey-50: #8D8D8D;
$color--grey-70: #A6A6A6;
$color--grey-75: #B2B2B2;
$color--grey-80: #C1C1C1;
$color--grey-90: #E5E5E5;
$color--grey-95: #F1F3F6;


$color--blue: #114F80;
$color--blue-2: #1862A1; // azul notificación, azul en detalle usuario
$color--blue-3: $color--grey-95; // azul menú n2
$color--blue-4: #003DF6; // color logotipo (digital)
$color--blue-5: #C4F2FC; // nota azul
$color--blue-7: #0056B3;
$color--blue-8: #00A6FF;
$color--yellow: #F5F6AE; // nota amarilla


/* Opacity colors
   ****************************************************************************/
$color--black-opacity-35: transparentize($color--black, .65);
$color--black-opacity-20: transparentize($color--black, .8);



/* stylelint-enable color-no-hex */
