//******************************************************************************
//  #COLORS VARIABLES
//******************************************************************************

$color-black: #000000;
$color-white: #FFFFFF;

$color-gray-10: #111111;
$color-gray-30: #333333;
$color-gray-40: #383a40;
$color-gray-80: #ccc;
$color-gray-90: #e1e1e1;
$color-gray-95: #f3f3f3;

$color-primary-darker: #00899e;
$color-primary-dark: #0084B5;
$color-primary: #DD0031;
$color-primary-light: #2fd8e5;
$color-primary-lighter: #edf7f9;
$color-secondary: #DD0031;
$color-terciary: #ad215b;
$color-terciary-light: #f07ca7;

$color-font: $color-gray-30;

$color-success: #4FE050;
$color-error: #E01400;
$color-warning: #FF9100;
$color-info: #00b1cc;
