//******************************************************************************
//  # FONT SIZES VARIABLES
//******************************************************************************

$fs-12: 12px;
$fs-14: 14px;
$fs-16: 16px;
$fs-18: 18px;
$fs-24: 24px;
$fs-45: 45px;

$fs-60: 60px;
$fs-100: 100px;
$fs-150: 150px;
