//******************************************************************************
//  # FONT SIZES VARIABLES
//******************************************************************************

$font-size--12: 12px;
$font-size--14: 14px;
$font-size--16: 16px;
$font-size--18: 18px;
$font-size--24: 24px;
$font-size--45: 45px;

$font-size--60: 60px;
$font-size--100: 100px;
$font-size--150: 150px;
