//******************************************************************************
//  #PATHS FOR PROJECT
//******************************************************************************

$font-path: "./assets/fonts/";
$img-path: "./assets/img/";
