.b-progress-bar {
  .ui-progressbar {
    border           : 0;
    background-color : $color--gray-30;
    &.ui-progressbar-determinate {
      .ui-progressbar-label {
        color : $color--white;
      }
      .ui-progressbar-value {
        background-color : $color--secondary;
      }
    }
    &.ui-progressbar-indeterminate {
      background-color : $color--gray-30;
      .ui-progressbar-value {
        background : $color--secondary;

      }
    }
  }

  &--inverted {
    .ui-progressbar {
      background-color : $color--secondary;
      &.ui-progressbar-determinate {
        .ui-progressbar-label {
          color : $color--white;
        }
        .ui-progressbar-value {
          background-color : $color--gray-30;
        }
      }
    }
  }
  &--big {
    .ui-progressbar {
      height : 25px;
    }
  }
}
