$b-gallery--spacing: 25px;

.b-gallery {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  &__item {
    border-radius: 3px;
    position: relative;
    border: 5px solid $color--secondary;
    flex-grow: 1;
    width: calc(50% - #{$b-gallery--spacing * 2});
    margin: $b-gallery--spacing;
    padding: $b-gallery--spacing;
  }
  &__img {
    transition: filter .25s ease-in-out;
    &:hover {
      filter: none
    }
  }
  &__caption {
    position: absolute;
    bottom: $b-gallery--spacing;
    left: 0;
    background-color: $color--secondary;
    color: $color--white;
    padding: $b-gallery--spacing / 2;
    &--full {
      width: 100%;
      text-align: center;
    }
    &--right {
      left: inherit;
      right: 0;
    }
    &--semi {
      background-color: transparentize($color--secondary, .5);
    }
    &--no-border {
      left: $b-gallery--spacing;
      width: calc(100% - #{$b-gallery--spacing * 2});
    }
    &--center {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      bottom: inherit;
    }
  }
}
