//******************************************************************************
//  # VARIABLES
//******************************************************************************

$b-nav--space-arrow: 50px;

//******************************************************************************
//  # STYLES
//******************************************************************************
.b-nav {
  position: fixed;
  width: 100%;
  height: 100%;
  pointer-events: none;
  //z-index: -1;
  &__link {
    text-decoration: none;
    pointer-events: auto;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(0, calc(-100% + #{$b-nav--space-arrow}));
    transition: transform 0.25s ease-in-out;
    transform-origin: left top;
    cursor: pointer;
    &:hover {
      transform: translate(0, 0);
      .b-nav__text {
        color: $color--white;
        background-color: $color--gray-30;
      }
    }
    &--left {
      top: 100%;
      transform: translate(-$b-nav--space-arrow, 0) rotate(-90deg);
      .b-nav__text {
        width: 100vh;
      }
      &:hover {
        transform: translate(0, 0) rotate(-90deg);
      }
    }
    &--right {
      top: 0;
      left: 100%;
      transform: translate($b-nav--space-arrow, 0) rotate(90deg);
      .b-nav__text {
        width: 100vh;
      }
      &:hover {
        transform: translate(0, 0) rotate(90deg);
      }
    }
    &--top {
      top: 100%;

      &:hover {
        transform: translate(0, calc(-100%));
      }
      .b-nav__arrow {
        transform: rotate(-180deg);
      }
    }
  }
  &__text {
    font-size: $fs-18;
    text-transform: uppercase;
    font-family: Raleway-Regular;
    color: $color--gray-80;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 75px;
    width: 100vw;

    background-color: transparent;
    transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;

  }
  &__arrow {
    text-align: center;
    display: block;
    padding-top: 25px;
    &:after {
      content: $i-form-arrowDown;
      font-family: 'my-icons';
      color: $color--gray-30;
    }
  }
}
